
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Kanit:wght@300&family=Ubuntu&display=swap');
:root{
    --1st:#5e0083;
    --2nd:#4255DE;
    --3rd:#0079F7;
    --4th:#0092F3;
    --5th:#00A5D6;
    --6th:#00B3AC;
    --white:#fff;
    --alagwhite:rgb(246, 232, 214);
    --black:#000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:var(--white);
}
nav{
    color: var(--white);
    background-color: var(--1st);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}
div.name{
    color:var(--white);
    margin: 15px;
}
nav > div > ul {
    overflow: hidden;
    list-style-type:none;
}
nav > div > ul > li{
    float:left;
    border-left: 1px solid var(--black);
}
nav > div > ul > li > a{
    text-decoration: none;
    display: block;
    margin: 15px;
}
.active{
    background-color: var(--4th);
}
div.msg{
    background-color: var(--2nd);
    height: 90vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
div.myMsg {
    color:var(--white);
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}
div.msg > div {
    height:100%;
    width:50%;
}
div.myImg{
    height: 70% !important;
    width: 40% !important;
}
div.msg > div > img {
    height:100%;
    width:100%;
}
div.intro{
    background-color: var(--3rd);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5em;
    color: var(--white);
}
div.quali{
    background-color: var(--4th);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:var(--alagwhite) ;
}
div.quali > div{
    margin:20px;
}
div.place {
    font-size: 1.8em;
    font-family: 'Kanit', sans-serif;
}
div.course {
    font-size: 1.4em;
    font-family: 'Ubuntu', sans-serif;
}
div.score {
    font-size: 1.2em;
}
div.projects{
    background-color: var(--5th);
    padding: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: var(--alagwhite);
}
div.projects > div{
    margin:20 0px;
}
div.project_name{
    font-size: 1.4em;
}

div.language{
    background-color: var(--6th);
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    color: var(--white);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
div.language > div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin:10px 20px;
}
.languageName{
    width: 30% !important;
}
div.language > div > div{
    width:70%;
}
div.language > div > div > input{
    width: 100%;
}
div.downloadCv{
    background-color: var(--3rd);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div.downloadCv > div{
  width: 200px;
  height: 50px;
}
div.downloadCv > div > input{
    width: 100%;
    height: 100%;
    border:none;
    background-color: #0092F3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    color: var(--white);

  }
div.downloadCv > div > input:hover{
    background-color: #00A5D6;
  }
footer{

}